@import '../styles/Library.scss';

.listContainer {
    display: flex;
    justify-content: center;
    padding: 0px;
}

li {

    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        max-width: 300px;
    }

    list-style: none;
}

.recordsList a {
    text-decoration: none;
}