.recordSummary {
    font-family: Verdana,Arial,Times New Roman,sans-serif;
    background-color: #E1D8C6;
    border: 1px solid black;
    height: 140px;
    width: 530px;
    box-shadow: 3px 3px 1px grey;
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 7%;
}

.lootPicture {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 110px;
    height: 110px;
}

.basicInfo {
    text-decoration: none;
    color:black;
    width: 100%;
}

.location {
    color: black;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 18px;
    font-weight: 600;
}

.details {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 120px 150px ;
    column-gap: 10%;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 0px;
    font-size: 14px;
}

.socialMedia {
    padding-top:1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia i {
    font-size: 16px;
    margin:0px;
    padding: 10px;
}

.charInfo {
    margin: 0px;
    font-size: 14px;
}

.expRatio {
    margin: 0px;
    font-size: 14px;
}