#formContainer {
    margin-top: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
}

/* Set Properties */
#formContainer .setTitle {
    font-size: 18px;
}

#formContainer .GlobalSet {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

#formContainer .goldenArmor {
    position: absolute;
    top: -15px;
    right: 10px;
}

#formContainer .setImgContainer {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.setImgContainer .selectHelmet {
    position: absolute;
    width: 34px;
    height: 35px;
    top: 4px;
    left: 92px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectBackpack {
    position: absolute;
    width: 34px;
    height: 35px;
    top: 19px;
    right: 57px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectNecklace {
    position: absolute;
    width: 33px;
    height: 35px;
    top: 19px;
    left: 56px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .SelectArmor {
    position: absolute;
    width: 34px;
    height: 35px;
    top: 42.5px;
    left: 92px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectWeapon {
    position: absolute; 
    width: 33px;
    height: 35px;
    top: 57px;
    left: 56px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectShield {
    position: absolute; 
    width: 34px;
    height: 35px;
    top: 57px;
    right: 57px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectLegs {
    position: absolute;
    width: 34px;
    height: 35px;
    bottom: 44px;
    left: 92px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectBoots {
    position: absolute;
    width: 34px;
    height: 35px;
    bottom: 5px;
    left: 92px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectRing {
    position: absolute;
    width: 33px;
    height: 35px;
    bottom: 29px;
    left: 56px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}

.setImgContainer .selectTorch {
    position: absolute;
    width: 34px;
    height: 35px;
    bottom: 29px;
    right: 57px;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 0px;
}


/* Location Properties */
#formContainer .GlobalLocation {
    position: relative;
    margin-top: 0;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

#formContainer .treasureMap {
    height: 30px;
    position: absolute;
    top: -15px;
    right: 10px;
}

.locationTitle {
    font-size: 18px;
}

#formContainer .locationInfo {
    margin-top: 15%;
    margin-left: 8.5%; 
}

.locationInfo .cityContainer {
    display: flex;
    flex-direction: column;
}

.locationInfo .spotContainer {
    margin-top: 10%;
}

#formContainer .selectCity {
    width: 180px;
    height: 20px;
    padding: 0px;
    border-width: 0px;
    border: 1px solid black;
}

#formContainer .selectSpot {
    width: 178px;
    height: 18px;
    padding: 0px;
    border-width: 0px;
    border: 1px solid black;
}


/* Team Comp Properties */
#formContainer .GlobalTeamComp {
    position: relative;
    height: 200px;
    width: 340px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black; 
}

#formContainer .partyHat {
    width: 35px;
    position: absolute;
    top: -15px;
    right: 5px;
}

.teamCompTitle {
    width: 100%;
    font-size: 18px;
}

#formContainer .teamCompData {
    display: flex;
    margin-top: 9%;
}

.teamCompData .leftData {
    width: 75%;
    margin-left: 5%;
}

.teamCompData .selectCharacter {
    width: 180px;
    height: 20px;
    border: 1px solid black;
}

.leftData .others {
    margin-top: 9%;
    display: flex;
}

.leftData .other {
    width: 45%;
}

.leftData .level {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.others i {
    margin-left: 5%;
    margin-top: 6%;
    font-size: 20px;
}

.teamCompData .otherMemberSelector {
    width: 98%;
    height: 20px;
    border: 1px solid black;
}

.teamCompData .levelSelector {
    width: 100%;
    height: 18px;
    padding: 0px;
    border-width: 0px;
    border: 1px solid black;
}

.teamCompData .rightData {
    width: 25%;
    text-align: center;
}

.rightData .teamMatesList {
    list-style: none;
    padding: 0;
}


/* Supplies Properties */
#formContainer .GlobalSupplies {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

#formContainer .suppliesTitle {
    font-size: 18px;
}

#formContainer .backpack {
    position: absolute;
    top: -15px;
    right: 10px;
}

/* Experience Properties */
#formContainer .GlobalExperience {
    position: relative;
    margin-top: 0;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

#formContainer .xpBoost {
    height: 45px;
    position: absolute;
    top: -20px;
    right: 0px;
}

.experienceTitle {
    font-size: 18px;
}


/* Loot Properties */
#formContainer .GlobalLoot {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.lootTitle {
    font-size: 18px;
}

#formContainer .loot {
    position: absolute;
    top: -40px;
    right: 10px;
}


/* Preys Properties */
#formContainer .GlobalPreys {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.preysTitle {
    font-size: 18px;
}

#formContainer .preys {
    position: absolute;
    top: -20px;
    right: 10px;
}

#formContainer .preysInfo {
    margin-top: 10%;
    margin-left: 8.5%; 
}

.preysInfo .preyContainer {
    margin-top: 5%;
}

/* Imbuements Properties */
#formContainer .GlobalImbuements {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.imbuementsTitle {
    font-size: 18px;
}

#formContainer .imbuements {
    position: absolute;
    top: -15px;
    right: 10px;
    width: 35px;
}

/* Charms Properties */
#formContainer .GlobalCharms {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.charmsTitle {
    font-size: 18px;
}

#formContainer .charms {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 40px;
}

/* Events Properties */
#formContainer .GlobalEvents {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.eventsTitle {
    font-size: 18px;
}

#formContainer .events {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 35px;
}

#formContainer .eventsInfo {
    margin-top: 25%;
    margin-left: 8.5%; 
}

.eventsInfo .eventContainer {
    margin-top: 10%;
}

/* Difficulty Properties */
#formContainer .GlobalDifficulty {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.difficultyTitle {
    font-size: 18px;
}

#formContainer .difficulty {
    position: absolute;
    top: -15px;
    right: 10px;
    width: 35px;
}

#formContainer .difficultyInfo {
    margin-top: 25%;
    margin-left: 8.5%; 
}

.difficultyInfo .difficultyContainer {
    margin-top: 10%;
}

/* Picture Properties */
#formContainer .GlobalPicture {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.pictureTitle {
    font-size: 18px;
}

#formContainer .picture {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 40px;
}

#formContainer .pictureInfo {
    margin-top: 25%;
    margin-left: 8.5%; 
}

.pictureInfo .pictureContainer {
    margin-top: 10%;
}

.GlobalPicture .selectPicture {
    width: 80%;
}

/* Comment Properties */
#formContainer .GlobalComment {
    position: relative;
    height: 200px;
    width: 220px;
    background-color: #E1D8C6;
    box-shadow: 3px 3px 1px grey;
    border: 1px solid black;
}

.commentTitle {
    font-size: 18px;
}

#formContainer .comment {
    position: absolute;
    top: -15px;
    right: 10px;
    width: 30px;
}

#formContainer .commentInfo {
    margin-top: 10%;
    height: 80%;
}

.commentInfo .commentContainer {
    display: flex;
    justify-content: center;
    height: 95%;
}

.GlobalComment .introduceComment {
    height: 90%;
    width: 85%;
    border: 1px solid black;
}




/* Footer Properties */
#formContainer i {
    color: #545454;
}

.mandatory {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #545454;
}

.buttons_NHR {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons_NHR .button {
    margin-left: 1%;
    margin-right: 1%;
}

.nextPage {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.nextPage i {
    padding: 0.1%;
    color: #545454;
}



