@import '../../styles/Library.scss';

div.ContentBox {

    @media (min-width: $breakpoint-mobile) {
        .ContentBox__title {
            overflow: hidden;
        }
    }

    @media (min-width: $breakpoint-tablet) {
        .delete-hunting-record {
            position: absolute;
        }
    }

    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;

    .ContentBox__title {
        background-color: #574B43;
        height: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-bottom: 1px solid #808080;
        font-size: 18px;
    }

    .ContentBox__frame {
        background-color: #DEBB9D;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
    }

    .ContentBox__content {
        background-color: #FFF1DA;
        border: 1px solid #793D03;
        color: black;
        min-height: 100px;
        padding: 20px;
        width: 100%;
    }

    .delete-character,
    .delete-hunting-record,
    .delete-account {
        font-size: 16px;
        color: $fontawesome-icons-brown;
        cursor: pointer;
    }

    .delete-character,
    .delete-account {
        position: absolute;
        top: 50px;
        right: 12.5px;
    }

    .delete-hunting-record {
        top: -5px;
        right: 20px;
    }

}