@import '../../styles/Library.scss';

div.ContentBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #808080;

    .ContentBox__title {
        background-color: #574B43;
        height: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-bottom: 1px solid #808080;
        font-size: 18px;
    }

    .ContentBox__frame {
        background-color: #DEBB9D;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ContentBox__content {
        background-color: #FFF1DA;
        border: 1px solid #793D03;
        color: black;

        .loading {
            position: absolute;
            top: 42%;
            left: 45%;
            transform: translate(-50%, -50%);
        }
    }
}