@import '../../styles/Library.scss';

div.ContentBox {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;

    .ContentBox__title {
        background-color: #574B43;
        height: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-bottom: 1px solid #808080;
        font-size: 18px;
    }

    .ContentBox__frame {
        background-color: #DEBB9D;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
    }

    .ContentBox__content {
        background-color: #FFF1DA;
        border: 1px solid #793D03;
        color: black;
        min-height: 100px;
        padding: 20px;
        width: 100%;
    }
}