.text {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.lore {
    padding-bottom: 15px;
}

.buttons__box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 2.5rem;
}

