@import '../styles/Library.scss';

#footer {
    @media (max-width: $breakpoint-mobile) {

    }
    @media (min-width: $breakpoint-mobile) {
        display: flex;
        justify-content: space-between;
    }
    background-color: $background-blue;
    height: 2.5rem;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;

    p {
        font-size: 10px;
        @media (max-width: $breakpoint-mobile) {
            width: 100%;
        }
        @media (min-width: $breakpoint-mobile) {
            width: 40%;
        }
    }

    a {
        color: white;
    }

    a:hover {
        color: aqua;
    }
}