@import '../styles/Library.css';


#footer {
    background-color: var(--background-blue);
    height: 40px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    
    bottom: 0;
    text-align: center;
}

#footer p {
    font-size: 10px;
    width: 20%;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: aqua;
}

#footer .tibia {
    margin-left: 5%;
}

#footer .tibiaHuntingRecords {
    margin-right: 5%;
}
