.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.logo {
    width: 100%;
    padding-top: 1%;
}

.logo__box {
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.chainsLeft {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.chainsRight {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.chain {
    height: 15px;
}

