@import '../styles/Library.scss';

#huntDetails {

    @media (max-width: $breakpoint-tablet) {

        .createdAt {
            font-size: 10px;
            margin: 0;
            text-align: end;
        }

        .socialMedia {
            i {
                color: #545454;
            }
        }

        .lootPicDetail {
            img {
                width: 100%;
                max-width: 35rem;
            }
        }

        .headLine {
            height: auto;
        }
    }

    @media (min-width: $breakpoint-tablet) {
        display: flex;

        #huntDetails__likes.socialMedia {
            position: absolute;
            top: -60px;

            i {
                color: white;
            }
        }

        #editHunt {
            position: absolute;
        }
        
        .createdAt {
            position: absolute;
            top: -65px;
            right: 0;
            color: white;
        }

        .lootPicDetail {
            img {
                width: 35rem;
            }
        }

        .leftOrganiser {
            width: 300px;
        }

        .rightOrganiser {
            padding-left: 20px;
            width: 100%;
        }

        .details__box {
            width: 280px;
        }
    }

    position: relative;

    .details__box, .setContainer {
        margin: 20px auto;
    }

    #huntDetails__likes.socialMedia {
        display: flex;
        i {
            font-size: 16px;
            margin: 5px;
            padding: 0;
            cursor: pointer;
        }
    }

    #editHunt {
        font-size: 16px;
        top: -15px;
        right: -15px;
        margin: 10px;
        padding: 0;
        cursor: pointer;
        color: $fontawesome-icons-brown;
    }

    .leftOrganiser {
        margin-top: 2%;
    }

    .userInformation {
        text-align: center; 
    }

    .inline-img {
        width: 12px;
        margin-left: 5px;
        margin-right: 1px;
    }

    .headLine {
        p {
            background: #545454;
            color: #FFF;
            margin: 0;
            display: flex;
            align-items: center;
            padding: 2.5px 5px;
            font-weight: bold;
        }
    }

    .details__box {
        margin-top: 20px;
        min-height: 40px;
        box-shadow: 0 4px 2px -2px gray;

        .infoLight {
            background: #F5EFE4;
        }

        .infoDark {
            background: #E1D8C6;
        }

        .infoDark, .infoLight {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20px;

            p, span {
                padding-left: 10px;
                padding-right: 10px;
                margin: 0;
            }
        }

        .details__content {
            background: #F5EFE4;
            min-height: 40px;
            padding: 5px;

            p {
                margin: 0;
                line-height: 20px;
            }
        }

        .supplies__content {
            background: #F5EFE4;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;
        }
    }
}

/*---- Right Side ----*/

.lootPicDetail {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.rightData textarea {
    width: 100%;
    height: 75%;
    margin: 10px;
}

.rightData button {
    width: 75px;
    height: 20px;
    background-color: #545454;
    color: white;
    border-radius: 2.5px;
    position: absolute;
    bottom: 11%;
    right: 20px;
}

.rightData .rating {
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 75px;
    height: 20px;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.rating p {
    margin: 0px;
    padding-left: 1%;
    padding-right: 10%;
}









