.NewCharacter {
    h1 {
        color: #545454;
        font-family: 'Martel';
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 5px;
    }

    img.box-icon {
        height: 30px;
        width: 30px;
        position: absolute;
        top: -15px;
        right: 5px;
    }
}