@import './components/styles/Library.css';

body {
    margin: 0;
    background-image: url("./assets/tibia-background-artwork.jpg");
    background-color: var(--background-blue);
    background-repeat: no-repeat;
    /* background-position: 0px 40px; */
    background-position: center top;
    background-attachment: fixed;
    background-size: 93%;
    font-family: Verdana,Arial,Times New Roman,sans-serif;
    font-size: 13px;
    width: 100%;
    min-height: 100vh;
}

.button {
    background: linear-gradient(to bottom, #005EEE, #00088F, #005EEE, #00088F, #005EEE);
    color: #FBD34D;
    border: 1px solid #FFD700;
    border-radius: 2.5px;
    height: 30px;
    width: 125px;
    font-weight: 600;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;    
}

.disabled-button {
    background: 'lightgray';
    color: '#545454';
    border-color: '#545454';
    border-radius: 2.5px;
    height: 30px;
    width: 125px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

a.button {
    height: 30px;
    text-decoration: none;
    font-family: 'Arial';
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons__box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 2.5rem;
}

.error {
    color: red;
    font-size: 10px;
}

.success {
    color: green;
    font-size: 10px;
}

p.form-tip {
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

#pageContainer {
    position: relative;
    min-height: 100vh;

}

#root {
    padding-bottom: 5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}