@import './components/styles/Library.css';

body {
    margin: 0;
    background-image: url("./assets/tibia-background-artwork.jpg");
    background-color: var(--background-blue);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana,Arial,Times New Roman,sans-serif;
    width: 100%;
    height: 100%;
}